$bg-color: #313940;
$text-color: #fff;
$border-color: #a2abb3;

$white-key-color: rgba(255, 255, 255, 0.85);
$white-key-hover: #fff;

$white-key-width: 80px;
$white-key-height: 270px;

$black-key-width: 54px;
$black-key-height: 170px;

$piano-width: 560px;

$transition: 0.3s;

$border-radius-white: 0 0 12px 12px;
$border-radius-black: 0 0 9px 9px;
