@use "variables" as *;
@use "base";

.header {
  margin: 20px 0 60px;
  padding-bottom: 20px;

  color: $text-color;
  text-align: center;

  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);
}

.piano {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: $piano-width;
  height: $white-key-height;

  margin: 0 auto 60px;

  .white-keys {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $bg-color;
  }

  .keys-sharp {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 53px;
    right: 53px;

    display: flex;
    justify-content: space-between;

    pointer-events: none;
    color: $border-color;
  }
}

.piano-key {
  position: relative;

  width: $white-key-width;
  height: $white-key-height;

  margin: 4px;

  background: $white-key-color;
  border-radius: 0 0 12px 12px;
  padding-bottom: 10px;

  cursor: pointer;
  transition: $transition;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  font-size: 13px;

  &:hover {
    background: $white-key-hover;
  }

  & .note {
    display: block;
  }

  & .edit-key__btn::before {
    background-color: $bg-color;
  }

  &.sharp {
    width: $black-key-width;
    height: $black-key-height;

    margin: 0;

    background: $bg-color;
    border: 0;
    border-radius: 0 0 9px 9px;

    z-index: 3;
    pointer-events: auto;
    transform-origin: center top;

    &:active {
      border-top: 0;
    }

    &.none {
      visibility: hidden;
    }
    &:hover {
      color: #d7dfe6;
    }
    &.piano-key-active {
      transform: scale(0.96);
    }
    & .edit-key__btn::before {
      background-color: $border-color;
    }
    & .edit-key__btn:hover::before {
      background-color: #00b4a4;
    }
  }

  &.piano-key-active {
    transform: scale(0.96);
  }
}

.edit-key__btn {
  position: relative;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  padding-bottom: 8px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    mask: url("../assets/icons/edit.svg") center/contain no-repeat;
    -webkit-mask: url("../assets/icons/edit.svg") center/contain no-repeat;
    transition: 0.2s ease;
  }

  &:hover {
    &::before {
      background-color: #00b4a4;
    }
  }
}

.key-input {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
}
